
.form-container {
    max-width: 300px;
    margin: 0 auto;
    transition: transform 0.3s;
}


.slider-button-container {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 20px auto;
}

.slider-button {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
}

.slider-button.active {
    background-color: #3498db;
    color: #fff;
}

.slider-container {
    display: flex;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #aeaeae;
    padding-top: 80px;
}

.wrapper{
    border: 5px solid black;
    background: #fff;
}

.slider-container,
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1{
    padding: 50px;
    margin-top: 10px;
    font-size: 40px;
}

.slider-container{
    margin: 15px;
}

.slider-container p{
    margin-right: 12px;
    font-size: 20px;
    text-decoration: underline;
}

.slider-container div{
    margin-left: 5px;
    height: 40px;
    width: 80px;
    margin-bottom: 10px;
}

#slider-button{
    font-size: 15px;
    height: 4%;
    width: 100px;
    text-align: center;
    justify-content: center;
}

.form-container{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.form-container h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-email,
#signup-email,
#login-password,
#signup-password{
    padding: 5px;
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

button{
    margin: 20px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
}

#message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-style: bold;
    padding: 30px;
    transition: ease-in 0.3s;
    color: black;
}
